<!doctype html>
<html lang="en" data-ng-app="amqBridgeApp">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/loading-bar.min.css">
  <script src="js/angular.js"></script>
  <script src="js/jquery-1.11.0.js"></script>
  <script src="js/angular-animate.js"></script>
  <script src="js/angular-custom.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/loading-bar.min.js"></script>
</head>
<body data-ng-controller="viewSelector" style="padding: 0;">
<!--         -->
<!-- BRIDGES -->
<!--         -->
<div data-ng-controller="amqBridgeCtrl" data-ng-show="view == 'bridges'"
     style="width: 100%; height: 100%; position: absolute;">

  <div class="col-md-1" style="background-color: lightgrey; height: 100%; position: fixed; z-index: 1">
    <button class="btn-show-monitor" data-ng-click="showMonitor()" style="width: 100%;">
      SHOW MONITOR
    </button>
    <button class="btn-add" data-ng-click="addNewBridge();" style="width: 100%;">NEW &gt;&gt;</button>
    <br>
    <button class="btn-toggle-stats" data-ng-click="showStats = ( ! showStats );" style="width: 100%;">
      TOGGLE STATS
    </button>
  </div>

  <!-- reserve the space used by the nav/control panel so the rest lines up correctly -->
  <div class="col-md-1" style="background-color: lightgrey; height: 100%; position: relative; z-index: -1"></div>

  <div class="col-md-11" style="height: 100%; padding: 0; position: static;">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>ID</th>
        <th>Source URL</th>
        <th>Destination URL</th>
        <th>Queues</th>
        <th>Topics</th>
        <th>Running</th>
        <th>Operations</th>
      </tr>
      </thead>
      <tbody class="ngShowTrans" data-ng-repeat="bridge in bridges | filter:srcUrlQuery | filter:destUrlQuery">
      <tr style="font-size: small">
        <td>
          <span class="bridge-field" data-ng-hide="bridge.editMode">{{bridge.id}}</span>
          <input id="bridge_id" type="text" data-ng-model="bridge.id" data-ng-show="bridge.editMode">
        </td>
        <td>
          <span class="bridge-field" data-ng-hide="bridge.editMode">{{bridge.srcUrl}}</span>
          <input type="text" data-ng-model="bridge.srcUrl" data-ng-show="bridge.editMode">
        </td>
        <td>
          <span class="bridge-field" data-ng-hide="bridge.editMode">{{bridge.destUrl}}</span>
          <input type="text" data-ng-model="bridge.destUrl" data-ng-show="bridge.editMode">
        </td>
        <td>
          <span class="bridge-field" data-ng-hide="bridge.editMode">{{bridge.queueList}}</span>
          <input type="text" data-ng-model="bridge.queueList" data-ng-show="bridge.editMode">
        </td>
        <td>
          <span class="bridge-field" data-ng-hide="bridge.editMode">{{bridge.topicList}}</span>
          <input type="text" data-ng-model="bridge.topicList" data-ng-show="bridge.editMode">
        </td>
        <td>
          <span class="bridge-field stopped-indicator" data-ng-hide="bridge.running">N</span>
          <span class="bridge-field running-indicator" data-ng-show="bridge.running">Y</span>
        </td>
        <td>
          <button class="btn-start" data-ng-hide="bridge.editMode" data-ng-click="startBridge(bridge.id)">START
          </button>
          <button class="btn-stop" data-ng-hide="bridge.editMode" data-ng-click="stopBridge(bridge.id)">STOP</button>
          <button class="btn-edit" data-ng-hide="bridge.editMode"
                  data-ng-click="bridge.editMode = true; bridge.orig_id = bridge.id;">
            EDIT
          </button>
          <button class="btn-save" data-ng-show="bridge.editMode"
                  data-ng-click="bridge.editMode = false; saveBridgeEdits(bridge.id);">
            SAVE
          </button>
          <button class="btn-cancel" data-ng-show="bridge.editMode"
                  data-ng-click="bridge.editMode = false; undoBridgeEdits(bridge.id);">
            CANCEL
          </button>
          <button class="btn-delete" data-ng-click="deleteBridge(bridge.id);">
            DEL
          </button>
        </td>
      </tr>
      <tr class="ngShowTrans" data-ng-show="showStats">
        <td colspan="6">
                  <span class="col-md-2 stat-even" title="Number of messages received by the bridge">
                      in: {{bridge.stats.numMessagesReceived}}</span>
                  <span class="col-md-2 stat-odd" title="Average rate of messages received by the bridge since started">
                      rate: {{bridge.stats.messageRate | number:2 }}/sec</span>
                  <span class="col-md-4 stat-even"
                        title="1, 5, and 15 minute moving average message rates received by the bridge">
                      1/5/15 m.avg.: {{bridge.stats.recordedMessageRates[1] | number:2}}/{{bridge.stats.recordedMessageRates[2] | number:2}}/{{bridge.stats.recordedMessageRates[3] | number:2}}</span>
                  <span class="col-md-2 stat-odd" title="Number of messages with errors on forwarding by the bridge">
                      errors: {{bridge.stats.numErrorMessagesReceived}}</span>
                  <span class="col-md-2 stat-even"
                        title="Average rate of message errors caught by the bridge since started">
                      err.rate: {{bridge.stats.errorMessageRate | number:2 }}/sec</span>
        </td>
      </tr>
      </tbody>
    </table>
    <div id="footer" class="footer">
            <span class="col-sm-4">
              <b>connection state:</b> {{connection_state}}
            </span>
            <span class="note-text col-sm-8">
              <b>note:</b> {{note}}
            </span>
    </div>

    <div style="bottom: 2em; position: fixed; background-color: black;">
      <span style="background: lightgrey; padding-right: 1em; padding-left: 1em;">
        <b>Filtering</b>
      </span>

      <span style="background: grey">
        Source URL:
        <select data-ng-model="srcUrlQuery.srcUrl">
          <option data-ng-repeat="bridge in bridges | unique: 'srcUrl'">{{bridge.srcUrl}}</option>
          <option value="">All</option>
        </select>
      </span>

      <span style="background: grey">
        Destination URL:
        <select data-ng-model="destUrlQuery.destUrl">
          <option data-ng-repeat="bridge in bridges | unique: 'destUrl'">{{bridge.destUrl}}</option>
          <option value="">All</option>
        </select>
      </span>
    </div>
  </div>
</div>

<!--         -->
<!-- MONITOR -->
<!--         -->
<div data-ng-controller="amqMonitor" data-ng-show="view == 'monitor'"
     style="width: 100%; height: 100%; position: absolute;">

  <!-- NAV/CONTROL PANEL -->
  <div class="col-md-1" style="background-color: lightgrey; height: 100%; position: fixed; z-index: 1;">
    <button class="btn-show-bridges" data-ng-click="showBridges()" style="width: 100%;">
      SHOW BRIDGES
    </button>
    <br style="margin: 1em" />
    <button class="btn-add" data-ng-click="startMonitor()" style="width: 100%;">
      START MONITOR
    </button>
    <button class="btn-add" data-ng-click="addMonitorBroker()" style="width: 100%;">
      ADD BROKER
    </button>
    <button class="btn-add" data-ng-click="addMonitorQueue()" style="width: 100%;">
      ADD QUEUE
    </button>
    <button class="btn-delete" data-ng-click="removeMonitorBroker()" style="width: 100%;">
      REMOVE BROKER
    </button>
    <button class="btn-delete" data-ng-click="removeMonitorQueue()" style="width: 100%;">
      REMOVE QUEUE
    </button>
    <br>
    <button class="btn-toggle-stats" data-ng-show="! showQueueBreakoutByBroker"
            data-ng-click="showQueueBreakoutByBroker = true;" style="width: 100%;">
      BREAKOUT &gt;&gt;&gt;
    </button>
    <button class="btn-toggle-stats" data-ng-show="showQueueBreakoutByBroker"
            data-ng-click="showQueueBreakoutByBroker = false;" style="width: 100%;">
      BREAKOUT &lt;&lt;&lt;
    </button>

    <!--               -->
    <!-- FIELD TOGGLES -->
    <!--               -->
    <div style="height: 1em"></div>
    <u>fields</u>
    <br>

    <input title="Producers" id="cb_show_producer_count" type="checkbox" data-ng-model="show_producer_count" />
    <label title="Producers" for="cb_show_producer_count" style="font-size: 66%">producers</label>
    <br>

    <input title="Consumers" id="cb_show_consumer_count" type="checkbox" data-ng-model="show_consumer_count" />
    <label title="Consumers" for="cb_show_consumer_count" style="font-size: 66%">consumers</label>
    <br>

    <input title="Queue Size" id="cb_show_queue_size" type="checkbox" data-ng-model="show_queue_size" />
    <label title="Queue Size" for="cb_show_queue_size" style="font-size: 66%">queue size</label>
    <br>

    <input title="Enqueue" id="cb_show_enqueue" type="checkbox" data-ng-model="show_enqueue" />
    <label title="Enqueue" for="cb_show_enqueue" style="font-size: 66%">enqueue</label>
    <br>

    <input title="Dequeue" id="cb_show_dequeue" type="checkbox" data-ng-model="show_dequeue" />
    <label title="Dequeue" for="cb_show_dequeue" style="font-size: 66%">dequeue</label>
    <br>

    <input title="Cursor %" id="cb_show_cursor_pct_usage" type="checkbox" data-ng-model="show_cursor_pct_usage" />
    <label title="Cursor %" for="cb_show_cursor_pct_usage" style="font-size: 66%">cursor %</label>
    <br>

    <input title="Memory %" id="cb_show_mem_pct_usage" type="checkbox" data-ng-model="show_mem_pct_usage" />
    <label title="Memory %" for="cb_show_mem_pct_usage" style="font-size: 66%">mem %</label>
    <br>

    <input title="Inflight" id="cb_show_inflight_count" type="checkbox" data-ng-model="show_inflight_count" />
    <label title="Inflight" for="cb_show_inflight_count" style="font-size: 66%">inflight</label>
    <br>

    <input title="Dequeue Rate" id="cb_show_dequeue_rate" type="checkbox" data-ng-model="show_dequeue_rate" />
    <label title="Dequeue Rate" for="cb_show_dequeue_rate" style="font-size: 66%">dequeue rate</label>
    <br>
  </div>

  <!-- reserve the space used by the nav/control panel so the rest lines up correctly -->
  <div class="col-md-1" style="height: 100%; position: relative; z-index: -1"></div>

  <div class="col-md-11" style="height: 100%; padding: 0; position: static;">
    <!-- BROKER STATS -->
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Broker</th>
        <th>Up Time</th>
        <th>Memory % Usage</th>
        <th>Store % Usage</th>
        <th>Average Message Size</th>
        <th>Connections</th>
        <th>Total Messages</th>
      </tr>
      </thead>
      <tbody class="ngShowTrans_pleaseFixUpdatesFirst" data-ng-repeat="monitoredBroker in monitoredBrokers">
      <tr style="font-size: small">
        <td>
          <div class="field">{{monitoredBroker.brokerStats.brokerName}}</div>
        </td>
        <td>
          <div class="field">
            {{monitoredBroker.brokerStats.uptime}}
            ({{monitoredBroker.brokerStats.uptimeMillis / ( 60 * 1000 ) | number:2}}min)
          </div>
        </td>
        <td>
          <div class="field">
            {{monitoredBroker.brokerStats.memoryPercentUsage}}
          </div>
        </td>
        <td>
          <div class="field">
            {{monitoredBroker.brokerStats.storePercentUsage}}
          </div>
        </td>
        <td>
          <div class="field">
            {{monitoredBroker.brokerStats.averageMessageSize}}
          </div>
        </td>
        <td>
          <div class="field">
            {{monitoredBroker.brokerStats.currentConnectionsCount}}
          </div>
        </td>
        <td>
          <div class="field">
            {{monitoredBroker.brokerStats.totalMessageCount}}
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <!-- QUEUE STATS -->
    <table class="table" style="border-bottom: 3em solid grey;">
      <thead>
      <tr>
        <th>Queue</th>
        <th data-ng-show="show_producer_count">Producers</th>
        <th data-ng-show="show_consumer_count">Consumers</th>
        <th data-ng-show="show_queue_size">Queue Size</th>
        <th data-ng-show="show_enqueue">Enqueue</th>
        <th data-ng-show="show_dequeue">Dequeue</th>
        <th data-ng-show="show_cursor_pct_usage">Cursor %</th>
        <th data-ng-show="show_mem_pct_usage">Memory %</th>
        <th data-ng-show="show_inflight_count">Inflight</th>
        <th data-ng-show="show_dequeue_rate">Dequeue Rate (min/hr/day)</th>
      </tr>
      </thead>
      <tbody style="overflow: auto;">
      <tr style="font-size: small"
          class="ngShowTrans"
          data-ng-class="queueStat.dynamicClasses"
          data-ng-repeat-start="queueStat in displayQueueStats | filter:monitorDestinationQuery:queueStatMatch | orderBy:'queueName'"
          data-ng-click="checkRemoveQueueFromMonitorUi(queueStat.queueName);">
        <td>
          {{queueStat.queueName}}
        </td>
        <td data-ng-show="show_producer_count">
          {{queueStat.numProducers}}
        </td>
        <td data-ng-show="show_consumer_count">
          {{queueStat.numConsumers}}
        </td>
        <td data-ng-show="show_queue_size">
          {{queueStat.queueSize}}
        </td>
        <td data-ng-show="show_enqueue">
          {{queueStat.enqueueCount}}
        </td>
        <td data-ng-show="show_dequeue">
          {{queueStat.dequeueCount}}
        </td>
        <td data-ng-show="show_cursor_pct_usage">
          {{queueStat.cursorPercentUsage}}
        </td>
        <td data-ng-show="show_mem_pct_usage">
          {{queueStat.memoryPercentUsage}}
        </td>
        <td data-ng-show="show_inflight_count">
          {{queueStat.inflightCount}}
        </td>
        <td data-ng-show="show_dequeue_rate">
          {{queueStat.dequeueRate1Minute | number:2 }}
          /
          {{queueStat.dequeueRate1Hour | number:2 }}
          /
          {{queueStat.dequeueRate1Day | number:2 }}
        </td>
      </tr>
      <tr class="breakoutStats"
          class="ngShowTrans"
          data-ng-class="queueStat.dynamicClasses"
          data-ng-show="showQueueBreakoutByBroker"
          data-ng-repeat="brokerStatsForQueue in queueStat.brokerDetails | orderBy:'brokerName'">
        <td>
          &nbsp;&nbsp;&nbsp;&nbsp;{{brokerStatsForQueue.brokerName}}
        </td>
        <td data-ng-show="show_producer_count">
          {{brokerStatsForQueue.numProducers}}
        </td>
        <td data-ng-show="show_consumer_count">
          {{brokerStatsForQueue.numConsumers}}
        </td>
        <td data-ng-show="show_queue_size">
          {{brokerStatsForQueue.queueSize}}
        </td>
        <td data-ng-show="show_enqueue">
          {{brokerStatsForQueue.enqueueCount}}
        </td>
        <td data-ng-show="show_dequeue">
          {{brokerStatsForQueue.dequeueCount}}
        </td>
        <td data-ng-show="show_cursor_pct_usage">
          {{brokerStatsForQueue.cursorPercentUsage}}
        </td>
        <td data-ng-show="show_mem_pct_usage">
          {{brokerStatsForQueue.memoryPercentUsage}}
        </td>
        <td data-ng-show="show_inflight_count">
          {{brokerStatsForQueue.inflightCount}}
        </td>
        <td data-ng-show="show_dequeue_rate">
          <i>unknown</i>
        </td>
      </tr>
      <!-- EMPTY TR to terminate the data-ng-repeat-start since the last TR above has its own repeat -->
      <tr data-ng-repeat-end data-ng-hide="true"></tr>
      </tbody>
    </table>

    <div id="monitorFooter" class="footer">
            <span class="col-sm-4">
              <b>connection state:</b> {{connection_state}}
            </span>
            <span class="note-text col-sm-8" onclick="alert(this.textContent.trim());">
              <b>note:</b> {{note}}
            </span>
    </div>

    <!--           -->
    <!-- FILTERING -->
    <!--           -->
    <div style="bottom: 2em; position: fixed; background: black;">
        <span style="background: lightgrey; padding-right: 1em; padding-left: 1em;">
          <b>Filtering</b>
        </span>

        <span style="background: grey">
          <select data-ng-model="monitorDestinationQueryString" data-ng-change="setupDestinationFilter();">
            <option value="">None</option>
            <option value="{ queueSize : '!=0', numConsumers: '=0' }">
              Idle Consumption</option>
            <option value="{ queueSize : '!=0' }">Pending Messages</option>
            <option value="{ queueSize : '=0', numConsumers: '=0', numProducers: '=0' }">Unused</option>
          </select>
        </span>
    </div>
  </div>


</div>

<div id="app-log"
     style="display: none; position: absolute; bottom: 4em; height: 4em; background-color: purple; color: white; overflow: auto; border: 1px solid black; width: 100%;">
  LOG MESSAGES
  {{log.messages}}
</div>
</body>
</html>
