<!doctype html>
<html lang="en" data-ng-app="amqBridgeApp">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/loading-bar.min.css">
  <script src="js/angular.js"></script>
  <script src="js/jquery-1.11.0.js"></script>
  <script src="js/angular-animate.js"></script>
  <script src="js/angular-custom.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/loading-bar.min.js"></script>
</head>
<body data-ng-controller="viewSelector" style="padding: 0;">
<!--         -->
<!-- BRIDGES -->
<!--         -->
<div data-ng-controller="amqBridgeCtrl" data-ng-show="view == 'bridges'"
     style="width: 100%; height: 100%; position: absolute;">

  <div class="col-md-1" style="background-color: lightgrey; height: 100%; position: fixed; z-index: 1">
    <button class="btn-show-monitor" data-ng-click="showMonitor()" style="width: 100%;">
      SHOW MONITOR
    </button>
    <button class="btn-add" data-ng-click="addNewBridge();" style="width: 100%;">NEW &gt;&gt;</button>
    <br>
    <button class="btn-toggle-stats" data-ng-click="showStats = ( ! showStats );" style="width: 100%;">
      TOGGLE STATS
    </button>
  </div>

  <!-- reserve the space used by the nav/control panel so the rest lines up correctly -->
  <div class="col-md-1" style="background-color: lightgrey; height: 100%; position: relative; z-index: -1"></div>

  <div class="col-md-11" style="height: 100%; padding: 0; position: static;">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>ID</th>
        <th>Source URL</th>
        <th>Destination URL</th>
        <th>Queues</th>
        <th>Topics</th>
        <th>Running</th>
        <th>Operations</th>
      </tr>
      </thead>
      <tbody data-ng-repeat="bridge in bridges | filter:srcUrlQuery | filter:destUrlQuery">
      <tr class="bridgeList" style="font-size: small">
        <td>
          <span class="bridge-field" data-ng-hide="bridge.editMode">{{bridge.id}}</span>
          <input id="bridge_id" type="text" data-ng-model="bridge.id" data-ng-show="bridge.editMode">
        </td>
        <td>
          <span class="bridge-field" data-ng-hide="bridge.editMode">{{bridge.srcUrl}}</span>
          <input type="text" data-ng-model="bridge.srcUrl" data-ng-show="bridge.editMode">
        </td>
        <td>
          <span class="bridge-field" data-ng-hide="bridge.editMode">{{bridge.destUrl}}</span>
          <input type="text" data-ng-model="bridge.destUrl" data-ng-show="bridge.editMode">
        </td>
        <td>
          <span class="bridge-field" data-ng-hide="bridge.editMode">{{bridge.queueList}}</span>
          <input type="text" data-ng-model="bridge.queueList" data-ng-show="bridge.editMode">
        </td>
        <td>
          <span class="bridge-field" data-ng-hide="bridge.editMode">{{bridge.topicList}}</span>
          <input type="text" data-ng-model="bridge.topicList" data-ng-show="bridge.editMode">
        </td>
        <td>
          <span class="bridge-field stopped-indicator" data-ng-hide="bridge.running">N</span>
          <span class="bridge-field running-indicator" data-ng-show="bridge.running">Y</span>
        </td>
        <td>
          <button class="btn-start" data-ng-hide="bridge.editMode" data-ng-click="startBridge(bridge.id)">START
          </button>
          <button class="btn-stop" data-ng-hide="bridge.editMode" data-ng-click="stopBridge(bridge.id)">STOP</button>
          <button class="btn-edit" data-ng-hide="bridge.editMode"
                  data-ng-click="bridge.editMode = true; bridge.orig_id = bridge.id;">
            EDIT
          </button>
          <button class="btn-save" data-ng-show="bridge.editMode"
                  data-ng-click="bridge.editMode = false; saveBridgeEdits(bridge.id);">
            SAVE
          </button>
          <button class="btn-cancel" data-ng-show="bridge.editMode"
                  data-ng-click="bridge.editMode = false; undoBridgeEdits(bridge.id);">
            CANCEL
          </button>
          <button class="btn-delete" data-ng-click="deleteBridge(bridge.id);">
            DEL
          </button>
        </td>
      </tr>
      <tr>
        <td colspan="6" data-ng-show="showStats">
                  <span class="col-md-2 stat-even" title="Number of messages received by the bridge">
                      in: {{bridge.stats.numMessagesReceived}}</span>
                  <span class="col-md-2 stat-odd" title="Average rate of messages received by the bridge since started">
                      rate: {{bridge.stats.messageRate | number:2 }}/sec</span>
                  <span class="col-md-4 stat-even"
                        title="1, 5, and 15 minute moving average message rates received by the bridge">
                      1/5/15 m.avg.: {{bridge.stats.recordedMessageRates[1] | number:2}}/{{bridge.stats.recordedMessageRates[2] | number:2}}/{{bridge.stats.recordedMessageRates[3] | number:2}}</span>
                  <span class="col-md-2 stat-odd" title="Number of messages with errors on forwarding by the bridge">
                      errors: {{bridge.stats.numErrorMessagesReceived}}</span>
                  <span class="col-md-2 stat-even"
                        title="Average rate of message errors caught by the bridge since started">
                      err.rate: {{bridge.stats.errorMessageRate | number:2 }}/sec</span>
        </td>
      </tr>
      </tbody>
    </table>
    <div id="footer" class="footer">
            <span class="col-sm-4">
              <b>connection state:</b> {{connection_state}}
            </span>
            <span class="note-text col-sm-8">
              <b>note:</b> {{note}}
            </span>
    </div>

    <div style="bottom: 2em; position: fixed; background-color: black;">
      <span style="background: lightgrey; padding-right: 1em; padding-left: 1em;">
        <b>Filtering</b>
      </span>

      <span style="background: grey">
        Source URL:
        <select data-ng-model="srcUrlQuery.srcUrl">
          <option data-ng-repeat="bridge in bridges | unique: 'srcUrl'">{{bridge.srcUrl}}</option>
          <option value="">All</option>
        </select>
      </span>

      <span style="background: grey">
        Destination URL:
        <select data-ng-model="destUrlQuery.destUrl">
          <option data-ng-repeat="bridge in bridges | unique: 'destUrl'">{{bridge.destUrl}}</option>
          <option value="">All</option>
        </select>
      </span>
    </div>
  </div>
</div>

<!--         -->
<!-- MONITOR -->
<!--         -->
<div data-ng-controller="amqMonitor" data-ng-show="view == 'monitor'"
     style="width: 100%; height: 100%; position: absolute;">

  <!-- NAV/CONTROL PANEL -->
  <div class="col-md-1" style="background-color: lightgrey; height: 100%; position: fixed; z-index: 1;">
    <button class="btn-show-bridges" data-ng-click="showBridges()" style="width: 100%;">
      SHOW BRIDGES
    </button>
    <br style="margin: 1em" />
    <button class="btn-add" data-ng-click="startMonitor()" style="width: 100%;">
      START MONITOR
    </button>
    <button class="btn-add" data-ng-click="addMonitorBroker()" style="width: 100%;">
      ADD BROKER
    </button>
    <button class="btn-add" data-ng-click="addMonitorQueue()" style="width: 100%;">
      ADD QUEUE
    </button>
    <button class="btn-delete" data-ng-click="removeMonitorBroker()" style="width: 100%;">
      REMOVE BROKER
    </button>
    <button class="btn-delete" data-ng-click="removeMonitorQueue()" style="width: 100%;">
      REMOVE QUEUE
    </button>
    <br>
    <button class="btn-toggle-stats" data-ng-show="! showQueueBreakoutByBroker"
            data-ng-click="showQueueBreakoutByBroker = true;" style="width: 100%;">
      BREAKOUT &gt;&gt;&gt;
    </button>
    <button class="btn-toggle-stats" data-ng-show="showQueueBreakoutByBroker"
            data-ng-click="showQueueBreakoutByBroker = false;" style="width: 100%;">
      BREAKOUT &lt;&lt;&lt;
    </button>
  </div>

  <!-- reserve the space used by the nav/control panel so the rest lines up correctly -->
  <div class="col-md-1" style="height: 100%; position: relative; z-index: -1"></div>

  <div class="col-md-11" style="height: 100%; padding: 0; position: static;">
    <!-- BROKER STATS -->
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Broker</th>
        <th>Up Time</th>
        <th>Memory % Usage</th>
        <th>Average Message Size</th>
      </tr>
      </thead>
      <tbody data-ng-repeat="monitoredBroker in monitoredBrokers">
      <tr class="bridgeList" style="font-size: small">
        <td>
          <input id="broker_name" type="text" data-ng-model="monitoredBroker.brokerStats.brokerName">
        </td>
        <td>
          <input id="broker_uptime" type="text" data-ng-model="monitoredBroker.brokerStats.uptime">
        </td>
        <td>
          <input id="broker_memory_pct_usage" type="text"
                 data-ng-model="monitoredBroker.brokerStats.memoryPercentUsage">
        </td>
        <td>
          <input id="broker_average_message_size" type="text"
                 data-ng-model="monitoredBroker.brokerStats.averageMessageSize">
        </td>
      </tr>
      </tbody>
    </table>
    <!-- QUEUE STATS -->
    <table class="table" style="border-bottom: 3em solid grey;">
      <thead>
      <tr>
        <th>Queue</th>
        <th>Producers</th>
        <th>Consumers</th>
        <th>Queue Size</th>
        <th>Enqueue</th>
        <th>Dequeue</th>
        <th>Cursor % Usage</th>
        <th>Memory % Usage</th>
      </tr>
      </thead>
      <tbody data-ng-repeat="queueStat in displayQueueStats | filter:monitorDestinationQuery:queueStatMatch | orderBy:'queueName'" style="overflow: auto;">
      <tr class="bridgeList" style="font-size: small">
        <td>
          {{queueStat.queueName}}
        </td>
        <td>
          {{queueStat.numProducers}}
        </td>
        <td>
          {{queueStat.numConsumers}}
        </td>
        <td>
          {{queueStat.queueSize}}
        </td>
        <td>
          {{queueStat.enqueueCount}}
        </td>
        <td>
          {{queueStat.dequeueCount}}
        </td>
        <td>
          {{queueStat.cursorPercentUsage}}
        </td>
        <td>
          {{queueStat.memoryPercentUsage}}
        </td>
      </tr>
      <tr class="breakoutStats"
          data-ng-show="showQueueBreakoutByBroker"
          data-ng-repeat="brokerStatsForQueue in queueStat.brokerDetails | orderBy:'brokerName'">
        <td>
          &nbsp;&nbsp;&nbsp;&nbsp;{{brokerStatsForQueue.brokerName}}
        </td>
        <td>
          {{brokerStatsForQueue.numProducers}}
        </td>
        <td>
          {{brokerStatsForQueue.numConsumers}}
        </td>
        <td>
          {{brokerStatsForQueue.queueSize}}
        </td>
        <td>
          {{brokerStatsForQueue.enqueueCount}}
        </td>
        <td>
          {{brokerStatsForQueue.dequeueCount}}
        </td>
        <td>
          {{brokerStatsForQueue.cursorPercentUsage}}
        </td>
        <td>
          {{brokerStatsForQueue.memoryPercentUsage}}
        </td>
      </tr>
      </tbody>
    </table>

    <div id="monitorFooter" class="footer">
            <span class="col-sm-4">
              <b>connection state:</b> {{connection_state}}
            </span>
            <span class="note-text col-sm-8" onclick="alert(this.textContent.trim());">
              <b>note:</b> {{note}}
            </span>
    </div>

    <!--           -->
    <!-- FILTERING -->
    <!--           -->
    <div style="bottom: 2em; position: fixed; background: black;">
        <span style="background: lightgrey; padding-right: 1em; padding-left: 1em;">
          <b>Filtering</b>
        </span>

        <span style="background: grey">
          <select data-ng-model="monitorDestinationQueryString" data-ng-change="setupDestinationFilter();">
            <option value="">None</option>
            <option value="{ queueSize : '!=0', numConsumers: '=0' }">
              Idle Consumption</option>
            <option value="{ queueSize : '!=0' }">Pending Messages</option>
            <option value="{ queueSize : '=0', numConsumers: '=0', numProducers: '=0' }">Unused</option>
          </select>
        </span>
    </div>
  </div>


</div>

<div id="app-log"
     style="display: none; position: absolute; bottom: 4em; height: 4em; background-color: purple; color: white; overflow: auto; border: 1px solid black; width: 100%;">
  LOG MESSAGES
  {{log.messages}}
</div>
</body>
</html>
